.button {
  &__primary {
      height: 60px;
      width: 250px;
      background: #FED439FF;
      margin-bottom: 140px;
      border: none;
      border-radius: 4px;
      }

  &__secondary {
      height: 60px;
      width: 250px;
      background: #2f64d6;
      border: none;
      border-radius: 4px;
  }
}