.button {
  &__primary {
      height: 60px;
      width: 250px;
      background: #45b29a;
      margin-bottom: 140px;
      border: none;
      border-radius: 4px;
      }

  &__secondary {
      height: 60px;
      width: 250px;
      background: gray;
      border: none;
      border-radius: 4px;
  }
}